@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/aeonik');

/* * {
  font-family: 'Aeonik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
